
.eu{
    max-width: 40%;
    display: inline;
}
#eu{
    padding: 2px;
    background-color: #036b52;
    ;
    margin: 50px;
}

#nome{
    text-align: center;
}

#v{
    text-align: center;
    color: #036b52;
}

.quemsoueu{
    left: 515px;
    bottom: -60px;
    position: absolute;
    display: inline-block;
    margin: 0px;
    border: 0px;
    padding: -10px;
}

.indicelink{
    letter-spacing: 02px;
    background-color: #27a789 ;
    
}

.p:hover{
    background-color: white;
    color: #27a789;
}

.padrão,.p{font-family:'Inconsolata',monospace;
    font-weight:400;}
    .p{text-align: center;
    font-size:x-large;
    font-weight: 600;
    color: #036b52 ;
    background-color: #27a789;
    }

    li:hover{
        color: white;
    }
    .linksUteis{
    background-color: #099272  ;
    }

    .icons{
        width: 150px;
    }
    
    #linkedin{
        position: absolute;
        left: 30%;
        background-color: white;
        border-radius: 100%;
        top: 1250px;
    }

    #github{
        position: absolute;
        left: 50%;
        background-color: white;
        border-radius: 100%;
        border: 5px solid #099272 ;
        top: 1250px;
    }

    body{
        margin: 0px
        ;}
